*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "Roboto", sans-serif;
  background: #ba8b02;
  background: -webkit-linear-gradient(to right, #181818, #ba8b02);
  background: linear-gradient(to right, #181818, #ba8b02);
}

h1 {
  color: white;
  text-align: center;
  font-weight: 700;
  margin-top: 4rem;
  font-size: 3rem;
}

#counter {
  text-decoration: underline;
}

.instructor {
  color: #e5e7eb;
  text-align: center;
  font-size: 2rem;
}

.align-center {
  margin-top: 1rem;
  text-align: center;
}

.btn-counter {
  padding: 15px 25px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 8px #999;
}

.btn-counter:hover {
  background-color: rgb(192, 197, 192);
}

.btn-counter:active {
  background-color: rgb(192, 197, 192);
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}

h2,
h3 {
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 2.2rem;
  margin-top: 3rem;
}

.playlist-container {
  display: flex;
  flex-direction: row;
  height: 500px;
  justify-content: center;
  gap: 7rem;
  margin-top: 3rem;
}

.additional-sources {
  margin-top: .5rem;
  color: #e5e7eb;
  text-align: center;
  font-size: 1.7rem;
}

ul {
  display: inline-block;
  text-align: left;
}

a {
  color: white;
  font-size: 2rem;
}

li:not(:first-child) {
  margin-top: 1rem;
}

li::marker {
  content: "📚";
  font-size: 2rem;
}

.footer {
  margin-top: 5rem;
  color: #e5e7eb;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 1rem;
}
